{% extends '_admin/base.html.twig' %}

{% block body %}

    <!--app-content open-->
    <div class="main-content app-content mt-0">
        <div class="side-app">

            <!-- container -->
            <div class="main-container container-fluid">


              {% block page_content %}

                  <!-- End Row -->

              {% endblock %}

            </div>
            <!-- container-closed -->
        </div>
    </div>

{% endblock %}