{% extends 'fils/_includes/index.html.twig' %}

{% block page_content %}

{% block contenu %}
    <div class="maincontain-area">
        <div class="container">

            <section class="py-50 mt-4">
                <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <h1 style="text-align: center">NOS SERVICES</h1><br>
                            <h4 style="text-align: center"> <span >Voici ce que vous pouvez trouver chez nous.</span></h4><br>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <a href="#" class="pull-up">
                                <div class="p-10">
                                    <span class="fs-40 fa fa-shopping-cart"><span class="path1"></span><span class="path2"></span></span>
                                    <h3 class="my-15">Distribution</h3>
                                    <div class="text-fade fs-16 mb-10" style="color: black">Leader de la distribution d'équipements industriels, mécaniques, électriques et informatiques.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <a href="#" class="pull-up">
                                <div class="p-10">
                                    <span class="fs-40 fa fa-cut"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                                    <h3 class="my-15">Confection de tenue</h3>
                                    <div class="text-fade fs-16 mb-10" style="color: black"> Notre atélier de confection de tenue de travail ultra equipé avec une équipe bien formée est à votre service.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <a href="#" class="pull-up">
                                <div class="p-10">
                                    <span class="fs-40 fa fa-car"><span class="path1"></span><span class="path2"></span></span>
                                    <h3 class="my-15">Matériels ferroviaires</h3>
                                    <div class="text-fade fs-16 mb-10" style="color: black">Numéro 1 de la mise à disposition de matériel ferroviaire en Afrique avec une base arrière en belgique.</div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </section>
            <br>
            <br>
            <section class="py-50">
                <div class="container">

                    <div class="row">
                        <div class="col-12">
                            <h1 style="text-align: center">À PROPOS DE NOUS</h1><br>
                            <h4 style="text-align: center"> <span >Nous et nos partenaires avons fait du chemin et regardons vers l'avenir.</span></h4><br>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <a href="#" class="pull-up">
                                <div class="p-10">
                                    <span class="fs-40 fa fa-lightbulb-o"><span class="path1"></span><span class="path2"></span></span>
                                    <h3 class="my-15" style="color: orange;">2014:Création de l'entreprise</h3>
                                    <div class="text-fade fs-16 mb-10" style="color: black">Notre entreprise est née sous la dénomination Entreprise Nouvelle Industrielle de Guinée (ENIG). Nos activités sont principalement la distribution des équipements et matériels industriels, mécaniques, informatiques et de protection individuelle.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <a href="#" class="pull-up">
                                <div class="p-10">
                                    <span class="fs-40 fa fa-book"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                                    <h3 class="my-15" style="color: orange;">Depuis 2018:Nos contrats</h3>
                                    <div class="text-fade fs-16 mb-10" style="color: black">Nous avons signé des contrats de représentation avec de grandes entreprises et usines de fabrication de produits d'étanchéité, de transmissions et d'outillages.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <a href="#" class="pull-up">
                                <div class="p-10">
                                    <span class="fs-40 fa fa-hand-o-left"><span class="path1"></span><span class="path2"></span></span>
                                    <h3 class="my-15" style="color: orange;">2019:Nos partenariats</h3>
                                    <div class="text-fade fs-16 mb-10" style="color: black">ENIG se lance dans le domaine ferroviaire avec les entreprises belges Afrirail et Sobeka .Nous sommes officiellement filiales des deux entreprises lorsqu'il s'agit de la distribution de matériel ferroviaire en Afrique.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <a href="#" class="pull-up">
                                <div class="p-10">
                                    <span class="fs-40 fa fa-users"><span class="path1"></span><span class="path2"></span></span>
                                    <h3 class="my-15" style="color: orange;">2021:
                                        Nos filiales</h3>
                                    <div class="text-fade fs-16 mb-10" style="color: black">Pour agrandir son champ d'activité, ENIG a créé sa centrale d'achat au USA précisément dans la contrée de Virginie. Elle a également une représentation en Côte d'Ivoire qui joue le rôle de centrale d'achat et filiales.</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <a href="#" class="pull-up">
                                <div class="p-10">
                                    <span class="fs-40 fa fa-eye"><span class="path1"></span><span class="path2"></span></span>
                                    <h3 class="my-15" style="color: orange;">Dès 2022
                                        Notre vision</h3>
                                    <div class="text-fade fs-16 mb-10" style="color: black">La satisfaction de nos clients passe par la satisfaction de leurs exigences et l'écoute de leurs attentes. Pour fournir un service meilleur à nos clients et faciliter les rapports avec nos fournisseurs, nous nous inscrirons dans une démarche qualité afin de nous conformer aux standards des normes internationales.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <section class="py-10">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 style="text-align: center">NOS PARTENAIRES</h2>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        {% for partenaire in listePartenaires %}
                            <div class="col-12 col-lg-3 col-md-6">
                                <div class="box">
                                    <div class="box-header no-border p-0">
                                        <a href="#">
                                            <img class="img-fluid" src="{{ asset('uploads/images/'~ partenaire.logo) }}" alt="">
                                        </a>
                                    </div>
                                    <div class="box-body">
                                        <div class="text-center">
                                            {# <div class="user-contact list-inline text-center">
                                                <a href="#" class="btn btn-circle mb-5 btn-xs btn-facebook"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="btn btn-circle mb-5 btn-xs btn-instagram"><i class="fa fa-instagram"></i></a>
                                                <a href="#" class="btn btn-circle mb-5 btn-xs btn-twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="btn btn-circle mb-5 btn-xs btn-warning"><i class="fa fa-envelope"></i></a>
                                            </div>#}
                                            <h4 class="my-10"><a href="#">{{ partenaire.libelle }}</a></h4>
                                            {#<h6 class="user-info mt-0 mb-10 text-fade">Web Designer</h6>
                                            <p class="text-fade w-p85 mx-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
        </div>
    </div>
    {% endblock %}
{% endblock %}

